@page "/mn"
<div class="offcanvas-body">
    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gestione standard sito</a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li>
                    <a class="dropdown-item">Licenze »</a>
                    <ul class="submenu submenu-left dropdown-menu"></ul>
                </li>
                <li><a class="dropdown-item" href="Admin/esplora_risorse.aspx">Esplora Risorse</a></li>
                <li><a class="dropdown-item" href="Admin/download.aspx">Download</a></li>
                <li><a class="dropdown-item" href="Admin/Carosello.aspx">Carosello</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Utenti</a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a class="dropdown-item" href="MANAGER/Admin/Anagrafica_Manager.aspx">Iscritti al sito</a></li>
                <li><a class="dropdown-item" href="Account/Forza_Password.aspx">Forza Password</a></li>
                <li><a class="dropdown-item" href="Account/Importa_Account.aspx">Importa Account</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gestione Incarichi</a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a class="dropdown-item" href="Admin/Incarico.aspx">Incarico</a></li>
                <li><a class="dropdown-item" href="Admin/incarico_anagrafica.aspx">Assegnazione Incarichi</a></li>
            </ul>
        </li>
    </ul>
</div>


@code {

}
