@page "/esempi/toaster"

@using Syncfusion.Blazor.Notifications

<h3>BlazorToast</h3>

@* Syncfusion Toast *@
<SfToast @ref="Messaggio1" Target="#target">
   <ToastPosition X="Right"></ToastPosition>
</SfToast>
<SfToast ID="toast_default" @ref="Messaggio2" Content="@TitoloMessaggio2" Timeout="5000" CssClass="e-toast-danger" Title="Errore">
   <ToastPosition X="@MessaggioPosizione"></ToastPosition>
</SfToast>
<button @onclick="VisualizzaMessaggio" class="btn btn-default btn-primary">Messaggio</button>
<button class="e-btn" @onclick="@MostraMessaggio2OnClick">Show Toasts</button>
<button class="e-btn" @onclick="@NascondiMessaggio2OnClick">Hide All</button>

@code {

   private SfToast Messaggio1;
   private SfToast Messaggio2;
   private string MessaggioPosizione = "Right";

   private async Task VisualizzaMessaggio()
   {
      // Pop up operazione riuscita
      await Messaggio1.ShowAsync(new ToastModel
         {
            Title = "Successo",
            Content = "Operatione conclusa con successo",
            CssClass = "e-toast-info"
            //
            // CssClass "e-toast-warning", "e-toast-success", "e-toast-danger", "e-toast-info"
            // Avvertimento, Successo, Errore, Informazioni
         });
   }


   private string TitoloMessaggio2 = "Conference Room 01 / Building 135 10:00 AM-10:30 AM";

   private async Task MostraMessaggio2OnClick()
   {
      await this.Messaggio2.ShowAsync();
   }

   private async Task NascondiMessaggio2OnClick()
   {
      await this.Messaggio2.HideAsync("All");
   }

}

