@*[Luca] Is this file correct? or is it an identical copy of AnagraficaList but with the s added to the bottom?
 I think it's a mistake. *@

@page "/tornei/AnagraficaList"

@using Database.Models
@using Database.Services
@using Syncfusion.Blazor.DropDowns
@inject IWebHostEnvironment Environment
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Spinner
@inject NavigationManager navigationManager

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
<div class="container">
    <h3>
        Anagrafica
    </h3>


    <div class="grid grid-cols-4">
        <label>Commune Filter</label>
        <div class="e-dddata">
            <SfDropDownList TItem="Comune" TValue="string" PopupHeight="230px" Width="240px" @bind-Value="com.DesComune" DataSource="@ComuneList">
                <DropDownListEvents TItem="Comune" TValue="string" ValueChange="Changedata" Closed="DropdownClose"></DropDownListEvents>
                <DropDownListFieldSettings Text="DesComune" Value="DesComune"></DropDownListFieldSettings>
            </SfDropDownList>

        </div>

    </div>
    <div class="card">
        <div class="heading">Anagrafica List</div>
        <div>


            <SfGrid DataSource="@_AnagraficaList" AllowPaging="true" OnCommandClicked="CommandClickHandler">
                <GridEditSettings AllowAdding="true" AllowDeleting="true"></GridEditSettings>
                <GridEvents RowSelected="RowSelectHandler" RowDeselected="RowDeSelectHandler" TValue="Anagrafica"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(Anagrafica.CodAnagrafica) HeaderText="CodSocieta" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Anagrafica.Cognome) HeaderText="CodSocieta" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Anagrafica.CodComuneDiNascita) HeaderText="DesSocieta" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Anagrafica.Telefono) HeaderText="PartitaIva" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(Anagrafica.Cellulare) HeaderText="Telefono" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(Anagrafica.Mail) HeaderText="Telefono" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                  
                </GridColumns>
            </SfGrid>
        </div>
    </div>
   
    <div class="form-group mt-3 d-flex justify-content-start w-8">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
@code {

    List<Comune> ComuneList = new();
    Comune com = new Comune();
    @inject ComuneService comuneService;
    @inject AnagraficaService AnagraficaService;
    List<Anagrafica> _AnagraficaList = new();
    SfSpinner SpinnerObj;
    private Boolean Disabled = true;
    private Boolean Enabled = false;


    protected override async void OnAfterRender(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                ComuneList = await comuneService.GetComunesAsync();
                _AnagraficaList = await AnagraficaService.GetAllAnagraficheAsync();
                StateHasChanged();
            }
        }
        catch (Exception)
        {

            throw;
        }
    }


    private int? index { get; set; } = 0;
    private int? PreviousIndex { get; set; } = 0;
    private async Task DropdownClose(Syncfusion.Blazor.DropDowns.ClosedEventArgs args)
    {
        if (PreviousIndex != index)
        {
            // Assuming com.Cap is of type string
            ComuneList = await comuneService.GetComuneById(com.CodComune);
            await SpinnerObj.ShowAsync();
            PreviousIndex = index;
        }
    }

    public async Task Changedata(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, Comune> args)
    {
        if (PreviousIndex != index)
        {
            await SpinnerObj.ShowAsync();
        }
        // Assuming com.Cap is of type string
        com.DesComune = args.Value;
    }
    // Command click handler for all command buttons in the grid
    public Anagrafica SelectedData = new Anagrafica();
    public void RowSelectHandler(RowSelectEventArgs<Anagrafica> args)
    {
        SelectedData = new Anagrafica() { CodAnagrafica = args.Data.CodAnagrafica};
        int CodAnagrafica = SelectedData.CodAnagrafica;
        navigationManager.NavigateTo($"/tornei/anagrafica?CodAnagrafica="+CodAnagrafica);
        this.Disabled = false;
        this.Enabled = true;
    }
    public void RowDeSelectHandler(RowDeselectEventArgs<Anagrafica> args)
    {
        SelectedData = new Anagrafica();
        this.Disabled = true;
        this.Enabled = false;
    }

} 