@page "/tornei/AnagraficaList"

@* Database *@
@using Database.Models
@using Database.Services

@* Oggetti Syncfusion *@
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Spinner

@* Gestione dei percorsi *@
@inject IWebHostEnvironment Environment
@* Nagigazione *@
@inject NavigationManager navigationManager
@* Dichiaro che uso in questa pagina il local storage *@
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="container">
   <h3>Anagrafica</h3>
   <div class="card">
      <div class="heading">Anagrafica List</div>
      <div>
         <SfGrid DataSource="@_AnagraficaList" AllowPaging="true" EnableVirtualization="true" EnableColumnVirtualization="true">
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridEditSettings AllowAdding="true" AllowDeleting="true"></GridEditSettings>
            <GridEvents TValue="Anagrafica"></GridEvents>
            <GridColumns>
               <GridColumn Width="160" TextAlign="TextAlign.Center" HeaderText="Actions">
                  <Template>
                     @{
                        var currentItem = context as Anagrafica;
                     }
                     <button class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                             @onclick="(e) => EditNavigation(currentItem, e)">
                        <i class="fa-solid fa-pencil"></i>
                     </button>
                     <button class="btn btn-danger" @onclick="(e) => DeleteItem(currentItem, e)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <i class="fa-regular fa-trash-can"></i>
                     </button>
                  </Template>
               </GridColumn>
               <GridColumn Field=@nameof(Anagrafica.CodAnagrafica) HeaderText="CodSocieta" TextAlign="TextAlign.Center" Width="160"></GridColumn>
               <GridColumn Field=@nameof(Anagrafica.Cognome) HeaderText="CodSocieta" Width="160" TextAlign="TextAlign.Center"></GridColumn>
               <GridColumn Field=@nameof(Anagrafica.CodComuneDiNascita) HeaderText="DesSocieta" TextAlign="TextAlign.Center" Width="160"></GridColumn>
               <GridColumn Field=@nameof(Anagrafica.Telefono) HeaderText="PartitaIva" TextAlign="TextAlign.Center" Width="160"></GridColumn>
               <GridColumn Field=@nameof(Anagrafica.Cellulare) HeaderText="Telefono" TextAlign="TextAlign.Center" Width="160"></GridColumn>
               <GridColumn Field=@nameof(Anagrafica.Mail) HeaderText="Email" TextAlign="TextAlign.Center" Width="160"></GridColumn>
               <GridColumn Field=@nameof(Anagrafica.Mail) HeaderText="Email" TextAlign="TextAlign.Center" Width="160"></GridColumn>
            </GridColumns>
         </SfGrid>
      </div>
   </div>

   <div class="form-group mt-3 d-flex justify-content-start w-8">
      <button type="submit" class="btn btn-primary">Save</button>
   </div>
</div>

@code {
   // Imposto i servizi che utilizzo
   @inject AnagraficaService AnagraficaService;

      private SfToast toast; 

   List<Anagrafica> _AnagraficaList = new();

   // Command click handler for all command buttons in the grid
   public Anagrafica SelectedData = new Anagrafica();

   // Cancello l'anagrafica
   private async void DeleteItem(Anagrafica item, MouseEventArgs e)
   {
      // Cancello l'anagrafica
      bool res = await AnagraficaService.DeleteAnagraficaAsync(item.CodAnagrafica);

      // Se le cancellazione è andata a buon fine
      if (res == true)
      {
         // Messaggio di successo
         await toast.ShowAsync(new ToastModel
            {
               Title = "Success",
               Content = "Record Deleted Successfully.",
               CssClass = "e-toast-success"
            });
      }
      else
      {
         // Se invece ha avuto esito negativo mando l'errore
         await toast.ShowAsync(new ToastModel
            {
               Title = "Error",
               Content = "Something Went Wrong. ",
               CssClass = "e-toast-danger"
            });
      }
      OnAfterRender(true); // Richiamo la funzione (dopo il redenr dell'oggetto)
      StateHasChanged(); // Aggiorno lo stato
   }

   // Dopo il primo render
   protected override async void OnAfterRender(bool firstRender)
   {
      try
      {
         if (firstRender) // Lo eseguo solo la prima volta
         {
            _AnagraficaList = await AnagraficaService.GetAllAnagraficheAsync(); // Carico la lista delle anagrafiche
            StateHasChanged(); // Aggiorno lo stato
         }
      }
      catch (Exception)
      {
         throw;
      }
   }

   // Vado in modifica
   public void EditNavigation(Anagrafica args, MouseEventArgs e)
   {
      // Imposto l'anagrafica selezionata
      navigationManager.NavigateTo($"/tornei/GestioneAnagraficaComp?CodAnagrafica=" + args.CodAnagrafica);

   }

   // Seleziono la riga
   public void RowDeSelectHandler(RowDeselectEventArgs<Anagrafica> args)
   {
      SelectedData = new Anagrafica(); // Imposto questa come anagrafica selezionata
   }
}